.App {
  text-align: center;
  background-color: rgb(42, 40, 40);
  margin-bottom: 0rem;
}

/* Home page starts here --------------------------------------------------------------------*/

.home-page-container {
  position: relative;
}

.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure stars are behind the main content */
}

.home-page-content {
  z-index: 1; /* Ensure main content is above the stars */
}

.Body {
  background: black;
  height: 100%;
  overflow: hidden;
  position: relative; /* Ensure relative positioning for z-index */
}

.buttonContainer {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Center align buttons vertically */
  margin-bottom: 0px; /* Add some space between buttons and content */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* Fade in to full opacity */
  }
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 3vmin);
  color: rgb(252, 251, 253);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: cursive;
  text-shadow: 12px 12px 12px black; /* Add black outline */
  z-index: 1; /* Ensure header is above the stars */
  margin: 0 auto;
  animation: fadeIn 3s; /* Apply the fadeIn animation */
}

.caption {
  font-size: 25px; /* Adjust the font size */
  font-style: italic; /* Italicize the text */
  font-family: cursive;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fdfdfd; /* Change the text color */
  margin-top: 0px; /* Adjust the top margin */
  padding: 0px;
}

.App-differentcareersbutton {
  color: #ffffff;
  text-align: center;
  position: relative;
  border-top: 0px solid rgb(0, 170, 255);
  padding-top: 0px;
}

.HomePage-text {
  border: 4px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.Career-Quiz-Button {
  color: #f7f7f7;
  text-align: center;
  position: relative;
  border-top: 3px solid #ffffff;
  padding-top: 16px;
  margin: 0px auto;
}

/* Home page ends here ----------------------------------------------------------------------- */

.Home-button {
  width: 400px;
  height: 30px;
  font-size: 18px; /* Increase font size */
  /* padding: 7px 100.2px; Increase padding to make the buttons bigger */
  border-radius: 10px; /* Add rounded corners */
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border-top: 2px solid white;
  background-color: #23235d;
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: inset 0 0 0 0 rgb(11, 11, 11);
  transition: ease-out 0.6s;
  outline: none;
  cursor: pointer;
}
.Home-button:hover {
  box-shadow: inset 500px 0 0 0 #0b0b0b;
}

.button {
  width: 100px;
  height: 30px;
  font-size: 18px; /* Increase font size */
  border-radius: 10px; /* Add rounded corners */
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(247, 247, 247);
  border-top: 2px solid white;
  background-color: #23235d;
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: inset 0 0 0 0 rgb(16, 16, 16);
  transition: ease-out 0.1s;
  outline: none;
  cursor: pointer;
}
.button:hover {
  box-shadow: inset 300px 0 0 0 #161616;
}
.A {
  top: 10px;
}

.Header-Background {
  background: linear-gradient(45deg, #1e2761 10%, #100f0f 50%, #1e2761 10%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header4 {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 3vmin);
  color: rgb(240, 240, 240);
  height: 200px;
}
.App-header.background {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add margin at the bottom of the image */
}

/* Footer startes here -------------------------------------------------------------------------------------------------------------------*/

footer {
  width: 100%;
  position: absolute;
  color: rgb(240, 240, 240);
  background: #1e2761 10%;
  padding: 10px 0 5px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: auto;
}
.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: calc(30% - 30px);
  padding: 10px;
  margin-right: 20px;
}
.col h3 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.col h4 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
}
.icon {
  font-size: 20px;
  margin-right: 10px;
}
.brand {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
  color: white;
}

.brand:hover {
  box-shadow: inset 100px 0 0 0 #ae0eb7;
}
.brand1 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
  color: white;
}

.brand1:hover {
  box-shadow: inset 100px 0 0 0 #1b027f;
}

@keyframes fadeInHorizontal {
  from {
    opacity: 0;
    transform: translateX(
      -100%
    ); /* Move the text outside of the viewport from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Move the text back to its original position */
  }
}

.fade-in-horizontal {
  animation: fadeInHorizontal 2.5s ease-in-out;
}

.brand2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  text-align: center;
  color: white;
}

.brand2:hover {
  box-shadow: inset 100px 0 0 0 #045057;
}
.App-link {
  color: #ffffff;
}

/* Footer ends here ----------------------------------------------------------------------------------------------------------------------------*/

.App-buttons4 {
  color: #ffffff;
  text-align: center;
  /* text-indent: 5%; */
  position: relative;
  border-top: 3px solid #ffffff;
  padding-top: 16px;
}

.Background {
  background: linear-gradient(to right, rgb(243, 73, 73), rgb(0, 170, 255));
}
.Border {
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Text-Border {
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 39%;
  margin-right: 39%;
}

.Basic-Question-Border {
  border: 3px solid rgb(46, 45, 45);
  border-radius: 10px;
  width: 100%;
}

.App-buttons5 {
  background: linear-gradient(to right, rgb(243, 73, 73), rgb(0, 170, 255));
  color: white;
  text-align: center;
  text-indent: 5%;
  position: relative;
  border-top: 3px solid rgb(255, 255, 255);
  padding-top: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0; /* makes sure image retains its original size */
  flex-grow: 0; /* makes sure image retains its original size */
  transition: translate 300ms ease-in-out;
}
.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 1rem;
  cursor: pointer;
}
.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 150px;
  bottom: 150px;
  padding: 1rem;
  cursor: pointer;
}
.img-slider-btn:hover > *,
.img-slider-btn:focus-visible > * {
  animation: squish 200ms ease-in-out;
}
.img-slider-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}
@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}
.img-slider-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  transition: scale 100ms ease-in-out;
  color: transparent;
  bottom: 200px;
  top: 200px;
}
.img-slider-dot-btn:hover,
.img-slider-btn:focus-visible {
  scale: 1.2;
}
.img-slider-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: auto;
}

.App-buttons {
  color: black;
  text-align: left;
  text-indent: 5%;
  position: relative;
  text-align: center;
}
.Text1Wrapper {
  position: relative;
  overflow: hidden;
  top: 190px;
  right: 70px;
}

.Career-Quiz2 {
  --background-color: #ffffff; /* Light grey background as the starting color */
  --accent-color: #766868; /* Blue color for hover/focus effect */
  --border-radius: 20px; /* Rounded corners */
  background-color: var(--background-color); /* Initial background color */
  margin: 1rem auto;
  padding: 16px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
}

.Career-Quiz2:hover,
.Basic-Quiz:hover,
.Basic-Quiz:focus {
  background-color: var(--accent-color);
  color: rgb(18, 17, 17); /* Change text color to white on hover/focus */
  z-index: 1;
}

.Career-Quiz2::before .Basic-Quiz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: var(
    --border-radius
  ); /* Ensure rounded corners match the button */
}

.App-header3 {
  color: black;
  text-align: left;
  top: 700px;
}

.Career-Quiz-text {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.Career-Buttons {
  --background-color: #f5f5f5; /* New background color */
  --accent-color: #7a2048; /* New accent color for hover/focus effect */
  --border-radius: 20px; /* Rounded corners */
  background-color: var(--background-color); /* Initial background color */
  margin: 1rem auto;
  padding: 70px 10px; /* Adjusted padding for more height */
  font-size: 30px;
  position: relative;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}

.Career-Buttons + .Career-Buttons {
  margin-left: 50px; /* Adjust the top margin between buttons */
}

.QuizBody {
  background: rgb(42, 40, 40);
  color: white;

  /* height: 70vh; */
}

.window {
  align-items: center;
}

.Basic-Multiple {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 11px;
  right: 14px;
  width: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 10px;
  background-color: #27207a;
  transition: width 0.5s ease-out;
}
.progress-label {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke;
}
.White {
  background-color: rgb(0, 0, 0);
}
