.App {
  text-align: center;
  background-color: white;
  margin-bottom: 0rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Center align buttons vertically */
  margin-bottom: 0px; /* Add some space between buttons and content */
}

.button {
  font-size: 18px; /* Increase font size */
  padding: 7px 138.2px; /* Increase padding to make the buttons bigger */
  border-radius: 0px; /* Add rounded corners */
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button.differentCareers {
  background-color: #7f2556; /* Change background color for Different Careers button */
  color: #fff; /* Change text color */
}

.button.careerQuizzes {
  background-color: #a53923; /* Change background color for Different Careers button */
  color: #fff; /* Change text color */
}

.button.careerTips {
  background-color: #32cd32; /* Change background color for Career Tips button */
  color: #fff; /* Change text color */
}

.button.aboutUs {
  background-color: #2867ab; /* Change background color for Career Tips button */
  color: #fff; /* Change text color */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 3vmin);
  color: rgb(240, 240, 240);
  background: linear-gradient(
    45deg,
    transparent,
    #0c2455 20%,
    #0c2455 50%,
    #0c2455 79%,
    transparent
  );
}

.footer {
  min-height: 2vh;
  margin-top: auto; /* Push the footer to the bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  font-size: 28px;
  color: rgb(240, 240, 240);
  background: linear-gradient(
    45deg,
    transparent,
    #0c2455 20%,
    #0c2455 50%,
    #0c2455 79%,
    transparent
  );
}

.signup-box {
  background-color: #233f73;
  border: 10px solid #716f6f;
  border-radius: 0px;
  padding: 20px;
  margin-bottom: 10px;
}

.signup-box h2 {
  margin-top: 0;
}

.signup-box form {
  display: flex;
  flex-direction: row;
}

.signup-box label {
  margin-bottom: 7px;
}

.signup-box input[type="email"] {
  font-size: smaller;
  padding: 5px;
  border: 1px solid #6f6868;
  border-radius: 0px;
  margin-bottom: 0px;
}

.signup-box button {
  background-color: #bdc3c9;
  color: #f6f3f3;
  border: none;
  padding: 10px 10px;
  border-radius: 0px;
  cursor: pointer;
}

.signup-box button:hover {
  background-color: #a6a8ab;
}

.App-link {
  color: #61dafb;
}
/* background-color: rgb(47, 70, 11); */
/* background-color: darkorchid; */

.App-buttons2 {
  color: rgb(243, 73, 73);
  text-align: center;
  /* text-indent: 5%; */
  position: relative;
  border-top: 3px solid rgb(0, 170, 255);
  padding-top: 16px;
}

.App-differentcareersbutton {
  color: rgb(243, 73, 73);
  text-align: center;
  /* text-indent: 5%; */
  position: relative;
  border-top: 0px solid rgb(0, 170, 255);
  padding-top: 0px;
}

.App-buttons4 {
  color: rgb(0, 170, 255);
  text-align: center;
  /* text-indent: 5%; */
  position: relative;
  border-top: 3px solid rgb(243, 73, 73);
  padding-top: 16px;
}

.Background {
  background: linear-gradient(to right, rgb(243, 73, 73), rgb(0, 170, 255));
}
/*row*/
.Border {
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Text-Border {
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 39%;
  margin-right: 39%;
}

.Basic-Question-Border {
  border: 3px solid white;
  border-radius: 10px;
  width: 100%;
}

.App-buttons5 {
  background: linear-gradient(to right, rgb(243, 73, 73), rgb(0, 170, 255));
  color: white;
  /* text-align: center; */
  /* text-indent: 5%; */
  /* position: relative; */
  border-top: 3px solid rgb(0, 170, 255);
  padding-top: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .ImageContainer {
  position: relative;
  width: 60%;
  height: auto;
  max-width: 300px;
  margin: 0 auto; Center horizontally
  text-align: center; Center inline elements
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0; /* makes sure image retains its original size */
  flex-grow: 0; /* makes sure image retains its original size */
  transition: translate 300ms ease-in-out;
}
.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  /* transition: background-color 100ms ease-in-out; */
}
/* .img-slider-btn:hover {
  background-color: rgb(0, 0, 0, 0.2);
} */
.img-slider-btn:hover > *,
.img-slider-btn:focus-visible > * {
  animation: squish 200ms ease-in-out;
}
.img-slider-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}
@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}
.img-slider-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  transition: scale 100ms ease-in-out;
  color: transparent;
}
.img-slider-dot-btn:hover,
.img-slider-btn:focus-visible {
  scale: 1.2;
}
.img-slider-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: auto;
}

.App-buttons {
  color: black;
  text-align: left;
  text-indent: 5%;
  position: relative;
  text-align: center;
}
.Text1Wrapper {
  position: relative;
  overflow: hidden;
  top: 190px;
  right: 70px;
}
.Career-Quiz {
  --background-color: #e3e3e3; /* Light grey background as the starting color */
  --accent-color: #0af; /* Blue color for hover/focus effect */
  --border-radius: 20px; /* Rounded corners */
  background-color: var(--background-color); /* Initial background color */
  margin: 1rem auto;
  padding: 16px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}

.Career-Quiz:hover,
/* .Career-Quiz:focus, */
.Basic-Quiz:hover,
.Basic-Quiz:focus {
  background-color: var(--accent-color);
  color: white;
  z-index: 1;
}

.Career-Quiz::before .Basic-Quiz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: var(
    --border-radius
  ); /* Ensure rounded corners match the button */
}

.Career-Quiz2 {
  --background-color: #e3e3e3; /* Light grey background as the starting color */
  --accent-color: rgb(243, 73, 73); /* Blue color for hover/focus effect */
  --border-radius: 20px; /* Rounded corners */
  background-color: var(--background-color); /* Initial background color */
  margin: 1rem auto;
  padding: 16px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}

.Career-Quiz2:hover,
.Basic-Quiz:hover,
.Basic-Quiz:focus {
  background-color: var(
    --accent-color
  ); /* Change background to blue on hover/focus */
  color: white; /* Change text color to white on hover/focus */
  z-index: 1;
}

.Career-Quiz2::before .Basic-Quiz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: var(
    --border-radius
  ); /* Ensure rounded corners match the button */
}

.App-header3 {
  color: black;
  text-align: left;
  top: 700px;
}

.HomePage-text {
  border: 2px solid rgb(0, 170, 255);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.Career-Quiz-text {
  border: 2px solid rgb(243, 73, 73);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
