/*.App-buttons {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: left;
  text-indent: 5%;
  position: relative;
  position: absolute;
}
.button-style {
  background-color: darkorchid;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: pointer;
  align-items: center;
  border: 1px solid white;
  padding: 4px;
  right: 5%;
}
.App-header2 {
  color: yellow;
  text-align: left;
}
*/
.horizontalButtons {
  display: flex;
}

.button {
  /* Your button styles */
  margin-right: 10px; /* Optional: Add spacing between buttons */
}
