/* Radio ---------------------------------------------------------------------------------------------------------------------------*/
[type="radio"] {
  opacity: 0;
}

[type="radio"] + label {
  position: relative;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  margin-left: 46%;
  color: white;
  line-height: 18px;
}

[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 10px dashed black;
  background: #fff;
}

[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: radial-gradient(
    ellipse farthest-corner at 100% 35%,
    rgb(35, 31, 32) 40%,
    rgb(161, 159, 160) 68%
  );
  transform: scale(1);
  opacity: 10;
  transition: all 0.3s ease;
}

[type="radio"]:not(checked) + label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #fff;
  transform: scale(0);
  opacity: 0;
}

/*CheckBox-----------------------------------------------------------------------------------------------------------------------------*/
[type="checkbox"] {
  opacity: 0;
}

[type="checkbox"] + label {
  position: relative;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  margin-left: 46%;
  color: white;
  line-height: 18px;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 30%;
  border: 10px dashed black;
  background: #fff;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: radial-gradient(
    ellipse farthest-corner at 100% 35%,
    rgb(35, 31, 32) 40%,
    rgb(161, 159, 160) 68%
  );
  transform: scale(1);
  opacity: 10;
  transition: all 0.3s ease;
}

[type="checkbox"]:not(checked) + label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #fff;
  transform: scale(0);
  opacity: 0;
}
/* Other ----------------------------------------------------------------------------------------------------------------------------------*/
.ButtonSpace {
  padding-top: 10px;
  flex-direction: row;
}

.StaticBackground {
  height: 300px;
}

.rocket-container {
  position: relative;
  width: 100%;
  height: 100px; /* Adjust as necessary */
}

.rocket {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  transition: left 0.5s ease; /* Adjust duration as necessary */
}

.Submit-button {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  font-size: 18px; /* Increase font size */
  border-radius: 10px; /* Add rounded corners */
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border-top: 2px solid white;
  background-color: rgb(77, 70, 30);
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-out 0.9s;
  outline: none;
}

.Submit-button:hover {
  box-shadow: inset 500px 0 0 0 #0b0b0b;
}

.Submit-button-right {
  left: 20px;
  margin: 24px auto;
}
