.Results-Title {
  font-size: 30px;
  border: 2px white;
}
.Results {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.Seperate-Careers {
  border-top: 1px solid gray;
}
